<h1>Players</h1>

<table>
  <thead>
    <tr>
	  <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
		<td><%= player.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
